@page "/customers/details"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Customer</h2>
    <hr />
    @if (customer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CustomerID</dt>
            <dt class="col-sm-2">CustomerName</dt>
            <dd class="col-sm-10">@customer.CustomerName</dd>
            <dt class="col-sm-2">CustomerMobileNumber</dt>
            <dd class="col-sm-10">@customer.CustomerMobileNumber</dd>
            <dt class="col-sm-2">CustomerGender</dt>
            <dd class="col-sm-10">@customer.CustomerGender</dd>
            <dt class="col-sm-2">CustomerAddress</dt>
            <dd class="col-sm-10">@customer.CustomerAddress</dd>
            <dt class="col-sm-2">CustomerEmail</dt>
            <dd class="col-sm-10">@customer.CustomerEmail</dd>
             <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@customer.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@customer.UpdatedBy</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@customer.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@customer.DateUpdated</dd>



        </dl>
        <div>
            <a href="@($"/customers/edit?id={customer.Id}")">Edit</a> |
            <a href="@($"/customers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Customer? customer;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        customer = await context.Customer.FirstOrDefaultAsync(m => m.Id == Id);

        if (customer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
