@page "/menuitems/details"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>MenuItem</h2>
    <hr />
    @if (menuitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">MenuItemPrice</dt>
            <dd class="col-sm-10">@menuitem.MenuItemPrice</dd>
            <dt class="col-sm-2">MenuItemName</dt>
            <dd class="col-sm-10">@menuitem.MenuItemName</dd>
            <dt class="col-sm-2">MenuItemDesc</dt>
            <dd class="col-sm-10">@menuitem.MenuItemDesc</dd>
            <dt class="col-sm-2">MenuId</dt>
            <dd class="col-sm-10">@menuitem.MenuId</dd>
        </dl>
        <div>
            <a href="@($"/menuitems/edit?id={menuitem.Id}")">Edit</a> |
            <a href="@($"/menuitems")">Back to List</a>
        </div>
    }
</div>

@code {
    private MenuItem? menuitem;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        menuitem = await context.MenuItem.FirstOrDefaultAsync(m => m.Id == Id);

        if (menuitem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
