@page "/orders/edit"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1 class="text-center mb-4">Edit Order Status</h1>
<hr />
@if (Order is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row justify-content-center">
        <div class="col-md-8">
            <EditForm method="post" Model="Order" OnValidSubmit="UpdateOrder" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Order.Id" value="@Order.Id" />
                <div class="mb-3">
                    <label for="orderdatetime" class="form-label">OrderDateTime:</label>
                    <span id="orderdatetime" class="form-control" readonly>@Order.OrderDateTime</span>
                    <ValidationMessage For="() => Order.OrderDateTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderstatus" class="form-label">OrderStatus:</label>
                    <InputSelect id="orderstatus" @bind-Value="Order.OrderStatus" class="form-control" >
                        <option value="Preparing">Preparing</option>
                        <option value="Ready for pick up">Ready</option>
                        <option value="Cancelled">Cancelled</option>
                    </InputSelect>
                    <ValidationMessage For="() => Order.OrderStatus" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ordertotal" class="form-label">OrderTotal:</label>
                    <span id="ordertotal" class="form-control" readonly>@Order.OrderTotal</span>
                    <ValidationMessage For="() => Order.OrderTotal" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="customerid" class="form-label">CustomerId:</label>
                    <span id="customerid" class="form-control" readonly>@Order.CustomerId</span>
                    <ValidationMessage For="() => Order.CustomerId" class="text-danger" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </EditForm>
        </div>
    </div>
}


<div class="mt-3 text-center">
    <a href="@($"/orders/{businessId}")">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromQuery]
    private int businessId { get; set; }

    [SupplyParameterFromForm]
    private Order? Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Order ??= await context.Order.FirstOrDefaultAsync(m => m.Id == Id);

        if (Order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Order!).State = EntityState.Modified;
        context.Entry(Order).Property(o => o.CustomerId).IsModified = false;
        context.Entry(Order).Property(o => o.OrderTotal).IsModified = false;
        context.Entry(Order).Property(o => o.OrderDateTime).IsModified = false;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!OrderExists(Order!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo($"/orders/{businessId}");
    }

    private bool OrderExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Order.Any(e => e.Id == id);
    }
}
