@page "/payments/details"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Payment</h2>
    <hr />
    @if (payment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">PaymentDateTime</dt>
            <dd class="col-sm-10">@payment.PaymentDateTime</dd>
            <dt class="col-sm-2">PaymentAmount</dt>
            <dd class="col-sm-10">@payment.PaymentAmount</dd>
            <dt class="col-sm-2">PaymentMethod</dt>
            <dd class="col-sm-10">@payment.PaymentMethod</dd>
            <dt class="col-sm-2">PaymentStatus</dt>
            <dd class="col-sm-10">@payment.PaymentStatus</dd>
            <dt class="col-sm-2">OrderId</dt>
            <dd class="col-sm-10">@payment.OrderId</dd>
        </dl>
        <div>
            <a href="@($"/payments/edit?id={payment.Id}")">Edit</a> |
            <a href="@($"/payments")">Back to List</a>
        </div>
    }
</div>

@code {
    private Payment? payment;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        payment = await context.Payment.FirstOrDefaultAsync(m => m.Id == Id);

        if (payment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
