@page "/menus/details"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Menu</h2>
    <hr />
    @if (menu is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">MenuName</dt>
            <dd class="col-sm-10">@menu.MenuName</dd>
            <dt class="col-sm-2">BusinessId</dt>
            <dd class="col-sm-10">@menu.BusinessId</dd>
            <dt class="col-sm-2">MenuCategory</dt>
            <dd class="col-sm-10">@menu.MenuCategory</dd>
        </dl>
        <div>
            <a href="@($"/menus/edit?id={menu.Id}")">Edit</a> |
            <a href="@($"/menus")">Back to List</a>
        </div>
    }
</div>

@code {
    private Menu? menu;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        menu = await context.Menu.FirstOrDefaultAsync(m => m.Id == Id);

        if (menu is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
