@page "/deliveries/delete"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Delivery</h2>
    <hr />
    @if (delivery is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DeliveryId</dt>
            <dd class="col-sm-10">@delivery.DeliveryId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DeliveryTime</dt>
            <dd class="col-sm-10">@delivery.DeliveryTime</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DeliveryDate</dt>
            <dd class="col-sm-10">@delivery.DeliveryDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CustomerID</dt>
            <dd class="col-sm-10">@delivery.CustomerID</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OrderID</dt>
            <dd class="col-sm-10">@delivery.OrderID</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">BusinessID</dt>
            <dd class="col-sm-10">@delivery.BusinessID</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DeliveryFee</dt>
            <dd class="col-sm-10">@delivery.DeliveryFee</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DeliveryStatus</dt>
            <dd class="col-sm-10">@delivery.DeliveryStatus</dd>
        </dl>
        <EditForm method="post" Model="delivery" OnValidSubmit="DeleteDelivery" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(delivery is null)">Delete</button> |
            <a href="/deliveries">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Delivery? delivery;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        delivery = await context.Delivery.FirstOrDefaultAsync(m => m.Id == Id);

        if (delivery is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteDelivery()
    {
        using var context = DbFactory.CreateDbContext();
        context.Delivery.Remove(delivery!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/deliveries");
    }
}
